*{
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
#menu{
  padding: 10px;
  margin: 10px;
}
#menu ul{
  background: #ffffff;
  list-style: none;
  padding: 0px;
  width: 200px;
  text-align: left;
}
#menu ul li{
  position: relative;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
}
#menu ul .thefirst{
  background: #ffffff;
}


#menu li:hover a{
  color: orange;
}
#menu .sub-menu li a {
  color: black;
}
#menu .sub-menu li:hover a {
  color: orange;
}


#menu .sub-menu li:hover a{
  color: orange;
}
#menu .sub-menu .sub-menu2 li a {
  color: black;
}
#menu .sub-menu .sub-menu2 li:hover a {
  color: orange;
}


#menu ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0 16px;
  display: block;
}
#menu li:hover{
  background: #e0e0e0;
  color: orange;

}
#menu .sub-menu{
  position: absolute;
  left: 200px;
  top: 0px;
  width: auto;
  display: none;
  text-align: left;
  border-left: 1px solid #fff;
  font-size: 90%;
  border-radius: 0px 10px 10px 0px;
}
#menu li:hover .sub-menu{
  display: block;
  background: #ffffff;
  color: red;
}
#menu .sub-menu2{
  position: absolute;
  left: 200px;
  top: 0;
  width: auto;
  border-left: 1px solid #fff;
  border-radius: 0px 10px 10px 0px;
  display: none;
}
#menu .sub-menu li:hover .sub-menu2{
  display: block;
}
#menu .sub-menu2 li:hover .sub-menu3{
  display: block;
}